.container{
    border: 5px solid black;
}
.nav{
    background-color: rgb(237, 237, 149);
}
.nav-link{
    color: black;
    
}
.nav-link:hover, .nav-link.active{
    background-color: rgb(245, 59, 236);
    color: antiquewhite;
}
